pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.idea/
*.iml

# common local artifacts used during dev
## we can install mb locally...
metabase/
## we used this as a starting point...
athena-driver
